langchain-core
langchain-openai
langchain-community
langgraph
langgraph-prebuilt
chromadb
langchain-chroma
python-dotenv
streamlit
langsmith
sqlite-utils
watchdog
protobuf
typing-extensions
pydantic
toml
langgraph-cli[inmem]
